@font-face {
  font-family: 'BadBoys';
  src: url('../fonts/BadBoys.ttf') format('truetype');
}

@font-face {
  font-family: 'Blasphemous_3';
  src: url('../fonts/Blasphemous_3.ttf') format('truetype');
}

body {
    margin: 0;
    background-color: #0D0000;
}

#gameCanvas {
    position: relative;
    width: 100vw;
    height: 100dvh;
    image-rendering: pixelated;
    overflow: hidden;
}

#Main_Logo{
    position: relative;
    z-index: 10;
    color: #A68A7A;
    pointer-events: none;
    font-family: 'BadBoys', sans-serif;
    letter-spacing: 4px;
    font-size: 64px;
    text-align: center;
    margin-bottom: 20px;
}

#Back{
    position: absolute;
    background: transparent;
    border: none;
    top: 93%;
    left: 5%;
    transform: translate(-50%) scale(3);
    color: #A68A7A;
    pointer-events: all;
    font-family: 'Blasphemous_3', sans-serif;
    transition: color 0.5 ease;
}

#Back:hover{
    color: #B30000;
}

.GlowEffect::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scaleX(1.2); /* stretch horizontally */

  width: 350px;
  height: 25px;

  background: radial-gradient(
    ellipse,
    rgba(90, 26, 10, 0.8) 10%,
    rgba(209, 121, 99, 0.4) 5%,
    transparent 50%
  );

  filter: blur(3px);
  z-index: -1;
}

#_container {
    position: relative;
    left: 25%;
    top: 25%;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 285px);
    gap: 10px;
    height: 150%;
    width: 150%;
}

.PlatBtn {
    background: rgba(255, 255, 255, 0.047);
    width: 100%;
}
/* แก้ไขของเดิมให้เป็นแบบนี้ */
.card-portrait-icon {
    width: 80px;            /* กำหนดความกว้างของรูป */
    height: 80px;           /* กำหนดความสูง */
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(0.45);
    transition: filter 0.3s;
    margin-bottom: 10px;    /* เพิ่มระยะห่างด้านล่าง */
}

/* เพิ่มคำสั่งนี้เพื่อให้รูปพิกเซลไม่เบลอเวลาขยาย */
.card-portrait-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    image-rendering: pixelated; /* สำคัญ: ทำให้พิกเซลคมชัด */
}
#Background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    pointer-events: none;
}

#Background_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* ปรับค่าความสว่างตรงนี้ (1.5 = สว่างขึ้น 50%, 2 = สว่างขึ้น 100%) */
    filter: brightness(1.5) contrast(1.1); 
}
